@import "./global";

.banner {
  width: 100%;
  height: toRem(400);
  background: url("../img/background__mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;

  &__title {
    font-weight: bold;
    font-size: toRem(36);
    color: $color-light;
  }

  &__button {
    font-size: toRem(26);
    height: toRem(70);
    width: toRem(250);
    bottom: toRem(-35);
  }
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.locations {
  padding-top: toRem(80);
  padding-bottom: toRem(60);

  &__header-title {
    font-weight: bold;
    margin-bottom: toRem(30);
    font-size: toRem(26);
    color: $color-light;
  }
  &__header-description {
    margin-bottom: toRem(30);
    font-size: toRem(18);
    color: $color-light;
  }

  &__body {
    .locations__dropdown {
      .dropdown__header {
        width: 100%;
        height: toRem(45);
        padding: toRem(10);
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color-light;
        background-color: $color-background;
        border-bottom: 1px solid $color-light;

        h3 {
          text-transform: uppercase;
          font-weight: 400;
          font-size: toRem(18);
        }

        span {
          background: url("../icon/arrow__inactive.svg");
          width: toRem(25);
          height: toRem(25);
          transform: rotate(0);
          transition: ease 0.5s;
          @extend %icon;
        }

        span.rotate {
          transform: rotate(180deg);
        }
      }

      .dropdown__body.show {
        padding: toRem(20);
        max-height: 700px;
      }

      .dropdown__body {
        height: auto;
        max-height: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-background-2;
        color: $color-light;
        overflow: hidden;
        transition: max-height ease 0.3s;

        * {
          margin-bottom: toRem(20);
        }

        .body__intro {
          margin-bottom: toRem(40);
        }

        .contact__contact-link {
          display: grid;
          grid-template-columns: toRem(30) auto;
          gap: toRem(5);
          color: $color-light;
          text-decoration: none;

          .contact__contact-link--whatsapp {
            background: url("../icon/whatsapp.svg");
            height: toRem(25);
            width: toRem(25);
            @extend %icon;
          }
          .contact__contact-link--location {
            background: url("../icon/location.svg");
            height: toRem(25);
            width: toRem(18);
            @extend %icon;
          }
        }

        .body__social {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: toRem(30);

          .social__link span {
            height: toRem(50);
            width: toRem(50);
            @extend %icon;
          }

          .social__link.facebook span {
            background: url("../icon/facebook.svg");
          }
          .social__link.instagram span {
            background: url("../icon/instagram.svg");
          }
        }

        .body__schedule {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .schedule__subtitle {
            color: $color-secondary;
          }
        }
      }
      .dropdown__body:last-child {
        border-radius: 0 0 6px 6px;
      }
    }

    .locations__dropdown:first-child .dropdown__header {
      border-radius: 6px 6px 0 0;
    }

    .locations__dropdown:last-child .dropdown__header {
      border-radius: 0 0 6px 6px;
      border: none;
    }

    .locations__dropdown:last-child .dropdown__header.active {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-bottom: 1px solid #fff;
    }
  }
}

.hero {
  position: relative;
  background: url("../img/bullet-crossfit-gym.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: toRem(400);
  width: 100%;
  z-index: 1;

  &__container {
    width: 100%;
    height: 100%;
    padding: toRem(20);
    color: $color-light;
    position: relative;
  }

  &__title {
    font-weight: bold;
    margin-bottom: toRem(20);
    font-size: toRem(32);
  }
  &__description {
    font-size: toRem(18);
  }
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

#plans {
  display: inline-block;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 50px;
}

.plans__container {
  padding: toRem(40) toRem(20);
  padding-bottom: toRem(80);

  .plans__intro h3 {
    margin-bottom: toRem(30);
    font-size: toRem(26);
    color: $color-light;
  }
  .plans__intro p {
    margin-bottom: toRem(40);
    font-size: toRem(18);
    color: $color-alternative;
  }

  .plan-cards__container {
    grid-template-columns: repeat(5, 100%);
    width: 100%;
    max-width: toRem(300);
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    gap: toRem(25);
    padding-bottom: toRem(70);
  }

  .plan-cards__container::-webkit-scrollbar {
    height: 5px;
  }
  .plan-cards__container::-webkit-scrollbar-thumb {
    background-color: $color-secondary;
    border-radius: 5px;
  }
  .plan-cards__container::-webkit-scrollbar-track {
    background-color: #0f0f0f;
  }

  .plan-card {
    width: 100%;
    background: $color-light;
    scroll-snap-align: center;
    border-radius: 6px;
    position: relative;

    .plan-card__header {
      height: toRem(70);
      border-bottom: 1px solid $color-dark;
      display: flex;
      justify-content: center;
      align-items: center;

      .plan-card__title {
        font-weight: bold;
        text-transform: uppercase;
        font-size: toRem(32);
        color: $color-secondary;
      }
    }
    .plan-card__body {
      padding: toRem(30);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .plan-card__price {
        margin-bottom: toRem(25);
        font-size: toRem(50);
        font-weight: bold;
        color: $color-dark;

        span {
          font-size: toRem(22);
        }
      }

      .plan-card__description {
        padding: 0;
        list-style: none;
        color: $color-primary;

        li {
          min-height: toRem(40);
          text-align: center;
          font-size: toRem(18);
          margin-bottom: toRem(10);
        }
      }

      .plan-card__button {
        padding: 0;
        width: 80%;
        font-size: toRem(18);
        height: toRem(70);
        position: absolute;
        bottom: -35px;
      }
    }
  }
}

.promo-banner {
  position: relative;
  background: url("../img/promo__banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: toRem(300);
  width: 100%;
  z-index: 1;

  .promo-banner__container {
    height: 100%;
    color: $color-light;
    text-align: center;
  }

  h4:first-of-type {
    font-size: toRem(22);
    font-weight: 500;
  }
  h4:last-of-type {
    font-weight: bold;
    font-size: toRem(50);
  }
  p {
    font-weight: 400;
    font-size: toRem(18);
  }
}

.carousel {
  &__container {
    padding: toRem(40) toRem(20);
    padding-bottom: toRem(80);
  }
  &__title {
    color: $color-light;
    margin-bottom: toRem(25);
  }

  .bootstrap-carousel__container {
    .carousel-indicators {
      bottom: toRem(-50);

      button.active {
        background-color: $color-secondary;
      }
    }
    .carousel-inner {
      border-radius: 6px;
    }
  }
}

.action {
  height: toRem(300);
  background-color: $color-background;

  &__container {
    width: 100%;
    height: 100%;
  }
  &__description {
    font-weight: bold;
    color: $color-light;
    font-size: toRem(32);

    span {
      color: $color-secondary;
    }
  }
}
