@import "./global";

.privacy {
  background: $color-background-2;
  color: $color-light;

  &__container {
    padding: toRem(40) toRem(30);
  }

  &__title {
    font-size: toRem(32);
  }

  &__paragraph,
  &__list-element {
    margin-bottom: toRem(20);
    text-align: justify;
    font-size: toRem(16);
    line-height: 2;
    color: $color-alternative;
  }
}
