body {
  background-color: #000;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  position: relative;
}

a {
  font-family: "DM Sans", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin-bottom: 0;
}

*:focus-visible {
  outline: none !important;
  box-shadow: 0 0 0 4px rgba(132, 217, 217, 0.5);
  border-radius: 2px !important;
}

input:focus-visible {
  box-shadow: none !important;
}

.wrapper__content {
  padding-top: 5.9375rem;
}

.hide__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999;
  background: #000;
}

.nav__button, .banner__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 0.8em 1.7em;
  text-decoration: none;
  outline: none;
  border: none;
  color: #fff;
  background: #93bb1c;
}

.nav__button:hover, .banner__button:hover {
  color: #fff;
  background: #ade014;
}

.locations__body .locations__dropdown .dropdown__header span, .locations__body .locations__dropdown .dropdown__body .contact__contact-link .contact__contact-link--whatsapp, .locations__body .locations__dropdown .dropdown__body .contact__contact-link .contact__contact-link--location, .locations__body .locations__dropdown .dropdown__body .body__social .social__link span {
  display: inline-block;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #000;
  z-index: 999;
}

.nav__logo {
  display: inline-block;
}

.nav__logo img {
  width: 8.75rem;
}

.nav__button {
  height: 3.125rem;
  width: 7.5rem;
}

.banner {
  width: 100%;
  height: 25rem;
  background: url("../img/background__mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.banner__title {
  font-weight: bold;
  font-size: 2.25rem;
  color: #fff;
}

.banner__button {
  font-size: 1.625rem;
  height: 4.375rem;
  width: 15.625rem;
  bottom: -2.1875rem;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.locations {
  padding-top: 5rem;
  padding-bottom: 3.75rem;
}

.locations__header-title {
  font-weight: bold;
  margin-bottom: 1.875rem;
  font-size: 1.625rem;
  color: #fff;
}

.locations__header-description {
  margin-bottom: 1.875rem;
  font-size: 1.125rem;
  color: #fff;
}

.locations__body .locations__dropdown .dropdown__header {
  width: 100%;
  height: 2.8125rem;
  padding: 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #0f0f0f;
  border-bottom: 1px solid #fff;
}

.locations__body .locations__dropdown .dropdown__header h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.125rem;
}

.locations__body .locations__dropdown .dropdown__header span {
  background: url("../icon/arrow__inactive.svg");
  width: 1.5625rem;
  height: 1.5625rem;
}

.locations__body .locations__dropdown .dropdown__body.show {
  display: flex;
}

.locations__body .locations__dropdown .dropdown__body {
  display: none;
  padding: 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #040404;
  color: #fff;
}

.locations__body .locations__dropdown .dropdown__body * {
  margin-bottom: 1.25rem;
}

.locations__body .locations__dropdown .dropdown__body .body__intro {
  margin-bottom: 2.5rem;
}

.locations__body .locations__dropdown .dropdown__body .contact__contact-link {
  display: grid;
  grid-template-columns: 1.875rem auto;
  gap: 0.3125rem;
  color: #fff;
  text-decoration: none;
}

.locations__body .locations__dropdown .dropdown__body .contact__contact-link .contact__contact-link--whatsapp {
  background: url("../icon/whatsapp.svg");
  height: 1.5625rem;
  width: 1.5625rem;
}

.locations__body .locations__dropdown .dropdown__body .contact__contact-link .contact__contact-link--location {
  background: url("../icon/location.svg");
  height: 1.5625rem;
  width: 1.125rem;
}

.locations__body .locations__dropdown .dropdown__body .body__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}

.locations__body .locations__dropdown .dropdown__body .body__social .social__link span {
  height: 3.125rem;
  width: 3.125rem;
}

.locations__body .locations__dropdown .dropdown__body .body__social .social__link.facebook span {
  background: url("../icon/facebook.svg");
}

.locations__body .locations__dropdown .dropdown__body .body__social .social__link.instagram span {
  background: url("../icon/instagram.svg");
}

.locations__body .locations__dropdown .dropdown__body .body__schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.locations__body .locations__dropdown .dropdown__body .body__schedule .schedule__subtitle {
  color: #93bb1c;
}

.locations__body .locations__dropdown:first-child .dropdown__header {
  border-radius: 6px 6px 0 0;
}

.locations__body .locations__dropdown:last-child .dropdown__header {
  border-radius: 0 0 6px 6px;
  border: none;
}

.hero {
  position: relative;
  background: url("../img/bullet-crossfit-gym.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  width: 100%;
  z-index: 1;
}

.hero__container {
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  color: #fff;
}

.hero__title {
  font-weight: bold;
  margin-bottom: 1.25rem;
  font-size: 2rem;
}

.hero__description {
  font-size: 1.125rem;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

<<<<<<< Updated upstream
=======
#plans {
  display: inline-block;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 50px;
}

.plans__container {
  padding: 2.5rem 1.25rem;
  padding-bottom: 5rem;
}

.plans__container .plans__intro h3 {
  margin-bottom: 1.875rem;
  font-size: 1.625rem;
  color: #fff;
}

.plans__container .plans__intro p {
  margin-bottom: 2.5rem;
  font-size: 1.125rem;
  color: #a7a7a7;
}

.plans__container .plan-cards__container {
  grid-template-columns: repeat(5, 100%);
  width: 100%;
  max-width: 18.75rem;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  gap: 1.5625rem;
  padding-bottom: 4.375rem;
}

.plans__container .plan-cards__container::-webkit-scrollbar {
  height: 5px;
}

.plans__container .plan-cards__container::-webkit-scrollbar-thumb {
  background-color: #93bb1c;
  border-radius: 5px;
}

.plans__container .plan-cards__container::-webkit-scrollbar-track {
  background-color: #0f0f0f;
}

.plans__container .plan-card {
  width: 100%;
  background: #fff;
  scroll-snap-align: center;
  border-radius: 6px;
  position: relative;
}

.plans__container .plan-card .plan-card__header {
  height: 4.375rem;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plans__container .plan-card .plan-card__header .plan-card__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  color: #93bb1c;
}

.plans__container .plan-card .plan-card__body {
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plans__container .plan-card .plan-card__body .plan-card__price {
  margin-bottom: 1.5625rem;
  font-size: 3.125rem;
  font-weight: bold;
  color: #000;
}

.plans__container .plan-card .plan-card__body .plan-card__price span {
  font-size: 1.375rem;
}

.plans__container .plan-card .plan-card__body .plan-card__description {
  padding: 0;
  list-style: none;
  color: #4e4e4e;
}

.plans__container .plan-card .plan-card__body .plan-card__description li {
  min-height: 2.5rem;
  text-align: center;
  font-size: 1.125rem;
  margin-bottom: 0.625rem;
}

.plans__container .plan-card .plan-card__body .plan-card__button {
  padding: 0;
  width: 80%;
  font-size: 1.125rem;
  height: 4.375rem;
  position: absolute;
  bottom: -35px;
}

.promo-banner {
  position: relative;
  background: url("../img/promo__banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 18.75rem;
  width: 100%;
  z-index: 1;
}

.promo-banner .promo-banner__container {
  height: 100%;
  color: #fff;
  text-align: center;
}

.promo-banner h4 {
  font-weight: bold;
}

.promo-banner h4:first-of-type {
  font-size: 1.375rem;
}

.promo-banner h4:last-of-type {
  font-size: 3.125rem;
}

.promo-banner p {
  font-weight: 400;
  font-size: 1.125rem;
}

>>>>>>> Stashed changes
@media (min-width: 992px) {
  body {
    overflow: hidden !important;
  }
}
/*# sourceMappingURL=style.css.map */