/* VARIABLES */
:root {
  --primary-color: #93BB1C;
  --main-font: 'DM Sans', sans-serif;
}

/* CONFIG */
body {
  font-family: var(--main-font);
}
a.btn {
  transition: ease 0.5s;
}
a.btn:hover {
  transform: scale(1.05);
  transition: ease 0.5s;
}

/* NAVIGATION */
nav, .offcanvas {
  background-color: black;
}
.navbar-brand picture img, .offcanvas-title picture img {
  width: 100%;
  max-width: 9rem;
}
.btn-main {
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
}

/* MAIN */

/* MAIN BANNER */
.banner {
  width: 100%;
  height: 400px;
  position: relative;
  background: url('../img/athlete.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.banner::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  z-index:-1;
}
.banner .btn {
  bottom: -30px;
  max-width: 30rem;
}