@import "./_global.scss";

/* NAVIGATION */
nav,
.offcanvas {
  background-color: $dark-color;
}
.navbar-brand picture img,
.offcanvas-title picture img {
  width: 100%;
  max-width: 9rem;
}
.btn-main {
  background-color: $primary-color;
  color: $light-color;
  font-weight: 500;
}

/* MAIN */

/* MAIN BANNER */
.banner {
  width: 100%;
  height: toRem(400);
  position: relative;
  background: url("../img/athlete.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.banner .btn {
  bottom: -30px;
  max-width: toRem(280);
}

// ACCORDION
.accordion-collapse {
  background-color: $dark-color;
  color: $light-color;
}
