body {
  background-color: #000;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  position: relative;
}

a {
  font-family: "DM Sans", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin-bottom: 0;
}

*:focus-visible {
  outline: none !important;
  box-shadow: 0 0 0 4px rgba(132, 217, 217, 0.5);
  border-radius: 2px !important;
}

input:focus-visible {
  box-shadow: none !important;
}

.wrapper__content {
  padding-top: 3.75rem;
}

.bullet-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 0.8em 1.7em;
  text-decoration: none;
  outline: none;
  border: none;
  color: #fff;
  background: #93bb1c;
}

.bullet-btn:hover {
  color: #fff;
  background: #7a9b16;
}

.locations__body .locations__dropdown .dropdown__header span, .locations__body .locations__dropdown .dropdown__body .contact__contact-link .contact__contact-link--whatsapp, .locations__body .locations__dropdown .dropdown__body .contact__contact-link .contact__contact-link--location, .locations__body .locations__dropdown .dropdown__body .body__social .social__link span {
  display: inline-block;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #000;
  z-index: 999;
}

.nav__logo {
  display: inline-block;
}

.nav__logo img {
  width: 8.75rem;
}

.nav__button {
  height: 3.125rem;
  width: 7.5rem;
}

.banner {
  width: 100%;
  height: 25rem;
  background: url("../img/background__mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.banner__title {
  font-weight: bold;
  font-size: 2.25rem;
  color: #fff;
}

.banner__button {
  font-size: 1.625rem;
  height: 4.375rem;
  width: 15.625rem;
  bottom: -2.1875rem;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.locations {
  padding-top: 5rem;
  padding-bottom: 3.75rem;
}

.locations__header-title {
  font-weight: bold;
  margin-bottom: 1.875rem;
  font-size: 1.625rem;
  color: #fff;
}

.locations__header-description {
  margin-bottom: 1.875rem;
  font-size: 1.125rem;
  color: #fff;
}

.locations__body {
  max-width: 25rem;
}

.locations__body .locations__dropdown .dropdown__header {
  width: 100%;
  height: 4.375rem;
  padding: 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #242424;
  border-bottom: 1px solid #fff;
}

.locations__body .locations__dropdown .dropdown__header h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.125rem;
}

.locations__body .locations__dropdown .dropdown__header span {
  background: url("../icon/arrow__inactive.svg");
  width: 1.5625rem;
  height: 1.5625rem;
  transform: rotate(0);
  transition: ease 0.5s;
}

.locations__body .locations__dropdown .dropdown__header span.rotate {
  transform: rotate(180deg);
}

.locations__body .locations__dropdown .dropdown__body.show {
  padding: 1.25rem;
  max-height: 700px;
}

.locations__body .locations__dropdown .dropdown__body {
  height: auto;
  max-height: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #131313;
  color: #fff;
  overflow: hidden;
  transition: max-height ease 0.3s;
}

.locations__body .locations__dropdown .dropdown__body * {
  margin-bottom: 1.25rem;
}

.locations__body .locations__dropdown .dropdown__body .body__intro {
  margin-bottom: 2.5rem;
}

.locations__body .locations__dropdown .dropdown__body .contact__contact-link {
  display: grid;
  grid-template-columns: 1.875rem auto;
  gap: 0.3125rem;
  color: #fff;
  text-decoration: none;
}

.locations__body .locations__dropdown .dropdown__body .contact__contact-link .contact__contact-link--whatsapp {
  background: url("../icon/whatsapp.svg");
  height: 1.5625rem;
  width: 1.5625rem;
}

.locations__body .locations__dropdown .dropdown__body .contact__contact-link .contact__contact-link--location {
  background: url("../icon/location.svg");
  height: 1.5625rem;
  width: 1.125rem;
}

.locations__body .locations__dropdown .dropdown__body .body__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}

.locations__body .locations__dropdown .dropdown__body .body__social .social__link span {
  height: 3.125rem;
  width: 3.125rem;
}

.locations__body .locations__dropdown .dropdown__body .body__social .social__link.facebook span {
  background: url("../icon/facebook.svg");
}

.locations__body .locations__dropdown .dropdown__body .body__social .social__link.instagram span {
  background: url("../icon/instagram.svg");
}

.locations__body .locations__dropdown .dropdown__body .body__schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.locations__body .locations__dropdown .dropdown__body .body__schedule .schedule__subtitle {
  color: #93bb1c;
}

.locations__body .locations__dropdown .dropdown__body:last-child {
  border-radius: 0 0 6px 6px;
}

.locations__body .locations__dropdown:first-child .dropdown__header {
  border-radius: 6px 6px 0 0;
}

.locations__body .locations__dropdown:last-child .dropdown__header {
  border-radius: 0 0 6px 6px;
  border: none;
}

.locations__body .locations__dropdown:last-child .dropdown__header.active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 1px solid #fff;
}

.hero {
  position: relative;
  background: url("../img/bullet-crossfit-gym.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  width: 100%;
  z-index: 1;
}

.hero__container {
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  color: #fff;
  position: relative;
}

.hero__title {
  font-weight: bold;
  margin-bottom: 1.25rem;
  font-size: 2rem;
}

.hero__description {
  font-size: 1.125rem;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

#plans {
  display: inline-block;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 20px;
}

.plans__container {
  padding: 2.5rem 1.25rem;
  padding-bottom: 5rem;
}

.plans__container .plans__intro h3 {
  margin-bottom: 1.875rem;
  font-size: 1.625rem;
  color: #fff;
}

.plans__container .plans__intro p {
  margin-bottom: 2.5rem;
  font-size: 1.125rem;
  color: #a7a7a7;
}

.plans__container .plan-cards__container {
  grid-template-columns: repeat(5, 100%);
  width: 100%;
  max-width: 18.75rem;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  gap: 1.5625rem;
  padding-bottom: 4.375rem;
}

.plans__container .plan-cards__container::-webkit-scrollbar {
  height: 5px;
}

.plans__container .plan-cards__container::-webkit-scrollbar-thumb {
  background-color: #93bb1c;
  border-radius: 5px;
}

.plans__container .plan-cards__container::-webkit-scrollbar-track {
  background-color: #0f0f0f;
}

.plans__container .plan-card {
  width: 100%;
  background: #fff;
  scroll-snap-align: center;
  border-radius: 6px;
  position: relative;
}

.plans__container .plan-card .plan-card__header {
  height: 4.375rem;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plans__container .plan-card .plan-card__header .plan-card__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  color: #93bb1c;
}

.plans__container .plan-card .plan-card__body {
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plans__container .plan-card .plan-card__body .plan-card__price {
  margin-bottom: 1.5625rem;
  font-size: 3.125rem;
  font-weight: bold;
  color: #000;
}

.plans__container .plan-card .plan-card__body .plan-card__price span {
  font-size: 1.375rem;
}

.plans__container .plan-card .plan-card__body .plan-card__description {
  padding: 0;
  list-style: none;
  color: #4e4e4e;
}

.plans__container .plan-card .plan-card__body .plan-card__description li {
  min-height: 2.5rem;
  text-align: center;
  font-size: 1.125rem;
  margin-bottom: 0.625rem;
}

.plans__container .plan-card .plan-card__body .plan-card__button {
  padding: 0;
  width: 80%;
  font-size: 1.125rem;
  height: 4.375rem;
  position: absolute;
  bottom: -35px;
}

.promo-banner {
  position: relative;
  background: url("../img/promo__banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 18.75rem;
  width: 100%;
  z-index: 1;
}

.promo-banner .promo-banner__container {
  height: 100%;
  color: #fff;
  text-align: center;
}

.promo-banner h4:first-of-type {
  font-size: 1.375rem;
  font-weight: 500;
}

.promo-banner h4:last-of-type {
  font-weight: bold;
  font-size: 3.125rem;
}

.promo-banner p {
  font-weight: 400;
  font-size: 1.125rem;
}

.carousel__container {
  padding: 2.5rem 1.25rem;
  padding-bottom: 5rem;
}

.carousel__title {
  color: #fff;
  margin-bottom: 1.5625rem;
}

.carousel .bootstrap-carousel__container .carousel-indicators {
  bottom: -3.125rem;
}

.carousel .bootstrap-carousel__container .carousel-indicators button.active {
  background-color: #93bb1c;
}

.carousel .bootstrap-carousel__container .carousel-inner {
  border-radius: 6px;
}

.action {
  height: 18.75rem;
  background-color: #242424;
}

.action__container {
  width: 100%;
  height: 100%;
  padding: 0 1.875rem;
}

.action__description {
  font-weight: bold;
  color: #fff;
  font-size: 2rem;
}

.action__description span {
  color: #93bb1c;
}

.footer__container {
  height: 100px;
  color: #a7a7a7;
  font-size: 1rem;
}

.footer__container .privacy-politics-link {
  font-size: 0.8125rem;
  color: #93bb1c;
}

.footer__container .privacy-politics-link:hover {
  color: #a7a7a7;
}

.privacy {
  background: #131313;
  color: #fff;
}

.privacy__container {
  padding: 2.5rem 1.875rem;
}

.privacy__title {
  font-size: 2rem;
}

.privacy__paragraph, .privacy__list-element {
  margin-bottom: 1.25rem;
  text-align: justify;
  font-size: 1rem;
  line-height: 2;
  color: #a7a7a7;
}

@media (min-width: 650px) {
  .banner__title {
    font-size: 3.125rem;
  }
  .locations__header-title {
    font-size: 2rem;
  }
  .hero__container {
    max-width: 37.5rem;
    margin-left: 10%;
  }
  .hero__title {
    font-size: 2.875rem;
  }
  .hero__description {
    font-size: 1.375rem;
  }
  .carousel__title {
    font-size: 2.25rem;
    margin: 3.125rem 0;
  }
  .carousel .bootstrap-carousel__container {
    max-width: 25rem;
    margin: 0 auto;
  }
  .action__description {
    font-size: 2.25rem;
  }
  .action__button {
    font-size: 1.375rem;
  }
}

@media (min-width: 768px) {
  nav.nav {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
  .banner {
    height: 28.125rem;
    background: url("../img/banner_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .promo-banner {
    height: 25rem;
  }
  .promo-banner h4:first-of-type {
    font-size: 1.75rem;
  }
  .promo-banner h4:last-of-type {
    font-size: 5rem;
  }
  .promo-banner p {
    font-size: 1.75rem;
  }
}

@media (min-width: 1100px) {
  .banner {
    background-attachment: fixed;
  }
  .banner__title {
    font-size: 4.375rem;
    max-width: 62.5rem;
  }
  .locations__body {
    width: 100%;
    max-width: 71.875rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 350px);
  }
  .locations__body .locations__dropdown {
    margin: 0 1.25rem;
  }
  .locations__body .locations__dropdown .dropdown__header {
    border-radius: 6px 6px 0 0;
    justify-content: center;
  }
  .locations__body .locations__dropdown .dropdown__header span {
    display: none;
  }
  .locations__body .locations__dropdown .dropdown__body {
    padding: 1.25rem;
    max-height: 700px;
  }
  .locations__body .locations__dropdown:last-child .dropdown__header {
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #fff;
  }
  .plans__container .plans__intro h3 {
    margin-top: 3.125rem;
    font-size: 2.625rem;
  }
  .plans__container .plans__intro p {
    font-size: 1.625rem;
  }
  .plans__container .plan-cards__container {
    grid-template-columns: repeat(5, 300px);
    max-width: 62.5rem;
  }
  .hero {
    background-attachment: fixed;
  }
  .action {
    height: 25rem;
  }
  .action__description {
    font-size: 3.125rem;
  }
}
/*# sourceMappingURL=style.css.map */